In [ ]:
import numpy as np
import pandas as pd

In [ ]:
data = pd.read_csv("/content/preprocessing_dataset.csv")
data

      Name    Age Gender   Salary Department
0    Alice   25.0      F  50000.0         HR
1      Bob   30.0      M  60000.0    Finance
2  Charlie    NaN      M  55000.0         IT
3    David   40.0      M  58000.0         HR
4      Eve   22.0      F  52000.0         IT
5    Frank   35.0    NaN  61000.0    Finance
6    Grace  120.0      F      NaN    Finance
7    Henry   28.0      M  59000.0         HR
8      Ivy   29.0      F  63000.0         IT
9     Jack   27.0      M  62000.0    Finance

In [ ]:
data.describe()

              Age        Salary
count    9.000000      9.000000
mean    39.555556  57777.777778
std     30.631320   4521.553322
min     22.000000  50000.000000
25%     27.000000  55000.000000
50%     29.000000  59000.000000
75%     35.000000  61000.000000
max    120.000000  63000.000000

In [ ]:
df1 = df.copy()
df2 = df.copy()

In [ ]:
num_col =['Age', 'Salary']

Q1 = df1[num_col].quantile(0.25)
Q3 = df1[num_col].quantile(0.75)
IQR = Q3 - Q1

lower = Q1 - 1/5 * IQR
upper = Q3 + 1/5 * IQR

outliers = ((df1[num_col])< lower) | ((df1[num_col])> upper)

In [ ]:
df1[~outliers.any(axis=1)]

      Name        Age Gender   Salary Department
1      Bob  30.000000      M  60000.0    Finance
2  Charlie  39.555556      M  55000.0         IT
3    David  40.000000      M  58000.0         HR
5    Frank  35.000000      M  61000.0    Finance
7    Henry  28.000000      M  59000.0         HR

In [ ]:
from scipy.stats import zscore
z_scores = zscore(df2.select_dtypes(include=np.number))
df2[(np.abs(z_scores) <= 3).all(axis=1)]

      Name         Age Gender        Salary Department
0    Alice   25.000000      F  50000.000000         HR
1      Bob   30.000000      M  60000.000000    Finance
2  Charlie   39.555556      M  55000.000000         IT
3    David   40.000000      M  58000.000000         HR
4      Eve   22.000000      F  52000.000000         IT
5    Frank   35.000000      M  61000.000000    Finance
6    Grace  120.000000      F  57777.777778    Finance
7    Henry   28.000000      M  59000.000000         HR
8      Ivy   29.000000      F  63000.000000         IT
9     Jack   27.000000      M  62000.000000    Finance

In [ ]:
df.describe()

              Age        Salary
count   10.000000     10.000000
mean    39.555556  57777.777778
std     28.879486   4262.961354
min     22.000000  50000.000000
25%     27.250000  55694.444444
50%     29.500000  58500.000000
75%     38.416667  60750.000000
max    120.000000  63000.000000

In [ ]:
#capping or winsorization
#not delete the value, we are going to replace it
lower_limits =  df[num_cols].quantile(0.01)
upper_limits = df[num_cols].quantile(0.99)

df_capped = df.copy()

for col in num_cols:
  df_capped[col] = df_capped[col].clip(
      lower=lower_limits[col],
      upper=upper_limits[col]
  )

In [ ]:
df_capped.describe()

              Age        Salary
count   10.000000     10.000000
mean    38.862556  57786.777778
std     26.636342   4214.462475
min     22.270000  50180.000000
25%     27.250000  55694.444444
50%     29.500000  58500.000000
75%     38.416667  60750.000000
max    112.800000  62910.000000

In [ ]:
#log transformation or square root transofrmation
df_log = df.copy()
df_log ['Salary_log'] = np.log(df_log['Salary'])

In [ ]:
df[['Salary']].describe()

             Salary
count     10.000000
mean   57777.777778
std     4262.961354
min    50000.000000
25%    55694.444444
50%    58500.000000
75%    60750.000000
max    63000.000000

In [ ]:
df_log[['Salary_log']].describe()

       Salary_log
count   10.000000
mean    10.961822
std      0.075757
min     10.819778
25%     10.927406
50%     10.976746
75%     11.014497
max     11.050890

In [ ]:
#power transformer or yeo johnson

from sklearn.preprocessing import PowerTransformer
pt = PowerTransformer(method = 'yeo-johnson')

df_yj = df.copy()
df_yj[['Age', 'Salary']] = pt.fit_transform(df[['Age', 'Salary']])
df_yj[['Age', 'Salary']].describe

<bound method NDFrame.describe of         Age    Salary
0 -0.966514 -1.651983
1 -0.100378  0.468100
2  0.784877 -0.829770
3  0.812389 -0.119688
4 -1.758521 -1.369531
5  0.445352  0.801322
6  1.987909 -0.178982
7 -0.396398  0.161683
8 -0.241400  1.555656
9 -0.567315  1.163193>

In [ ]:
#boxcox
from scipy.stats import boxcox

df_bc = df.copy()

df_bc['Salary_boxcox'], lambda_salary = boxcox(df_bc['Salary'])
df_bc['Age_boxcox'], lambda_age = boxcox(df_bc['Age'])
print("Salary lambda:", lambda_salary)
print("Age lambda:", lambda_age)

Salary lambda: 6.031771811446203
Age lambda: -1.7690180978733812